<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Welcome to Transformation
    </h1>

    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}

        <label for="file">Select a file</label>
        <input type="file" id="file" name="file" accept=".xls, .xlsx, .csv">

        <select name="scripts" id="script">
            {% for script in scripts %}
            <option value={{ script }}>
                {{ script }}
            </option>
            {% endfor %}
        </select>

        <input type="submit" name="uploadFile" value="Submit">
    </form>

    {% if excelName %}
        {% if success %}
            <h4> Successfully uploaded {{ excelName }}</h4>
        {% else %}
            <h4>{{ excelName }} did not upload successfully</h4>
        {% endif %}
    {% endif %}
</body>
</html>